.site-heading h1{
   font-family: 'Nosifer', cursive;
   color: red;
    font-weight: 100;
    font-size: 30px;

}
.page-heading h1{
 font-family: 'Nosifer', cursive;
   color: red;
    font-weight: 100;
    font-size: 30px;   
}